.page-login {
  padding-top: 70px;
  position: relative;
}
.page-login img {
  width: 100%;
  display: block;
}
.page-login .container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 190px;
  padding: 75px 55px;
  background-color: #fff;
  box-shadow: 0px 0px 13px 0px rgba(55, 234, 132, 0.35);
  border-radius: 18px;
}
.page-login .container .login-head {
  font-size: 25px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.page-login .container .login-head .tab {
  color: #9F9F9F;
  position: relative;
}
.page-login .container .login-head .tab.active {
  color: #3784EA;
}
.page-login .container .login-head .tab.active::before {
  content: '';
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #3395FF;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
.page-login .container .login-head .tab.line {
  margin-right: 80px;
  position: relative;
}
.page-login .container .login-head .tab.line::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #B5B5B5;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
}
.page-login .btn-login {
  height: 53px;
  line-height: 53px;
  text-align: center;
  font-size: 18px;
  background-color: #3784EA;
  color: #fff;
  background: #3784ea;
  box-shadow: 3px 5px 12px 0px rgba(68, 241, 160, 0.35);
  border-radius: 3px;
  margin-bottom: 20px;
}
.page-login .forget {
  color: #3784EA;
  font-size: 14px;
}
